[package]
name = "runtime-native"
description = "A cross-platform asynchronous runtime"
version = "0.0.0"
authors = ["The Rust Async Ecosystem Working Group"]
keywords = ["async", "runtime", "generic", "romio", "juliex"]
categories = ["asynchronous", "network-programming", "filesystem", "concurrency", "api-bindings"]
edition = "2018"

[dependencies]
async-datagram = "2.0.0"
futures-preview = "0.3.0-alpha.13"
lazy_static = "1.0.0"
mio = "0.6.16"
romio = "0.3.0-alpha.3"
runtime-raw = { path = "../runtime-raw" }
juliex = "0.3.0-alpha.2"
